UI_PORT=4200
API_PORT=5001
API_URL=http://localhost:5001

ASPNETCORE_ENVIRONMENT=Development
SQLSERVER_SA_PASSWORD=AdventureWorks@2024
ELASTICSEARCH_URI=http://elasticsearch:9200
INDEXING_BATCH_SIZE=500
INDEXING_INTERVAL_MINUTES=60
