:host {
  display: block;
}

:host ::ng-deep .aw-filter-panel .p-card-body {
  padding: 1rem;
}

:host ::ng-deep .aw-filter-panel .p-card-content {
  padding: 0;
}

@media (min-width: 64rem) {
  :host ::ng-deep .aw-filter-panel {
    position: sticky;
    top: 1rem;
  }
}
